PORT=3000
DATABASE_HOST=43.133.133.58
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=bismillah_transgo_emas
DATABASE_NAME=katamereka_db
NODE_ENV=development
JWT_SECRET=super_secret_katamereka_key_2026
JWT_EXPIRES_IN=7d
